@page
@model IdentityApplication1.Pages.RegisterModel
@{
}
<div class="container mt-5">
    <div class="row justify-content-lg-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">
                Register
            </h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Email">Email Address</label>
                    <input class="form-control" type="text" asp-for="Model.Email" />
                    <span asp-validation-for="Model.Email" class=" text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Password">Mat khau</label>
                    <input class="form-control" type="password" asp-for="Model.Password" />
                    <span asp-validation-for="Model.Password" class=" text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.ConfirmPassword">Xac nhan lai mat khau lan nua</label>
                    <input class="form-control" type="password" asp-for="Model.ConfirmPassword" />
                    <span asp-validation-for="Model.ConfirmPassword" class=" text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>